/* General Selectors */

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

body {
  min-height: 100vh;
  background-image: url(https://images.ctfassets.net/rporu91m20dc/4ufmwKQfbRd4vRQ5ipoDQI/f712965379a9ed60e9cff78a56365843/quake-iii-arena-hero-img?q=70&fm=webp);
  background-position: right;
  background-size: cover;
  line-height: 1.6;
  color: #efefef;
  min-width: 320px;
  font-size: 1.2rem;
}

#root{
  max-width: 2560px;
  margin: 0 auto;
}


p {
  max-width: 60ch;
}

h1 {
  text-align: center;
}
nav a,
h1,
h2,
h3,
h4 {
  font-family: "Source Code Pro", monospace;
}

/* Nav Styling  */

.navbar-brand,
.nav-link {
  color: white;
}

@media (max-width: 768px) {
  nav ul {
    text-align: right;
  }
}


/* Typewriter Component Styling */

.typewriter-title {
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
  text-align: center;
  color: red;
}

/* Home Page Styling */

.home-intro {
  max-width: 60ch;
  position: relative;
  top: 10rem;
  margin: 0 10rem
}
.home-intro h2{
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2rem;
}
.home-intro p{
  font-size: 1.3rem;
}

@media (max-width: 768px){
.home-intro{
  text-align: center;
  margin: 0 5rem;
}
}
/* Maps Page Styling */

.maps-container {
  border: 3px solid red;
  text-align: center;
  margin: auto;
}

.maps-container p {
  margin: auto;
}
.pages-hr {
  width: 65%;
  margin: 2rem auto;
}

/* Client Info Styling*/

.client-container {
  margin: 2rem 5rem;
}



.client-hidden{
  visibility: hidden;
}


/* Server page styling */

/* Server Card Styling */

.server-list {
  display: grid;
  gap: 1rem;
  padding: 0 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  
}

.server-card-wrapper {
  background-color: #d0d0d080;
  border: 2px solid red;
  padding: 1rem;
}

.server-card:nth-child(2n) {
 background-color: red;
}
.server-card-title {
 
}

.server-card-description {
}

.server-card-addres {
}

.server-intro {
  text-align: center;
  margin: auto;
}
