/* General Selectors */

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@400;700;900&display=swap');

body {
  min-height: 100vh;
  background-image: url(https://images.ctfassets.net/rporu91m20dc/4ufmwKQfbRd4vRQ5ipoDQI/f712965379a9ed60e9cff78a56365843/quake-iii-arena-hero-img?q=70&fm=webp);
  background-position: center;
  background-size: cover;
  line-height: 1.6;
  color: #efefef;
  min-width: 320px;
  font-size: 1.2rem;
}

#root{
  max-width: 2560px;
  margin: 0 auto;
}

p {
  font-family: 'Montserrat', sans-serif;
  max-width: 60ch;
}

h1 {
  text-align: center;
}

nav a,
h1,
h2,
h3,
h4 {
  font-family: "Source Code Pro", monospace;
 }

.page-h2, .page-h3{
  text-shadow: -4px 2px 20px gray;
}

.pages-hr {
  width: 65%;
  margin: 2rem auto;
}

/* Nav Styling  */

.navbar-brand,
.nav-link {
  color: white;
}

@media (max-width: 768px) {
  nav ul {
    text-align: right;
  }
  .navbar-toggler{
    border: none;
  }
}


/* Typewriter Component Styling */

.typewriter-title {
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
  text-align: center;
  color: red;
}

/* Home Page Styling */

.home-intro {
  max-width: 70ch;
  position: relative;
  top: 10rem;
  margin: 0 10rem
}
.home-intro h2{
  font-size: 4rem;
  text-align: center;
  padding-bottom: 2rem;
}
.home-intro h3{
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2rem;

}
.home-intro p, span{
  font-size: 1.7rem;
  margin-bottom: 5rem ;
}

.home-intro a{
  text-decoration: none;
  font-family: "Source Code Pro", monospace;
  color: red;
  display: inline-block;

}

@media (max-width: 768px){
.home-intro{
  position: unset;
  text-align: center;
  margin: 0 5rem;
}
}
/* Maps Page Styling */

.maps-container {
  max-width: 60ch;
  margin: 2rem 5rem;
}


.maps-container span{
  font-size: inherit;
}

.maps-container .Typewriter__wrapper{
  font-size: 1.3rem;
}

.maps-container a{
  text-decoration: none;
  font-family: "Source Code Pro", monospace;
  color: red;
  display: inline-block;
}

.maps-container p {
  margin: auto;
}



/* Client Info Styling*/
.client-info-wrapper a{ 
  text-decoration: none;
  font-family: "Source Code Pro", monospace;
  color: red;
  display: inline-block;
}

.client-container {
  margin: 2rem 5rem;
}

.client-container i{
  color: red;
  text-shadow: none;
}

.hidden-client-title{
   width: max-content;
}
/* Server page styling */

/* Server Card Styling */

.server-list {
  max-width: 1700px;
  display: grid;
  gap: 1rem;
  margin: auto;
  padding: 0 1.5rem;
  grid-template-columns: repeat(3,1fr);
  }

.server-card .Typewriter__wrapper{
  text-align: center;
}

.server-card{
  display: flex;
  flex-direction: column;
}

.server-card-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #000000a8;
  border-radius: 5px;
  box-shadow: 0px 0px 15px gray;
  padding: 1rem;
  max-width: 20em;
  margin: auto;
  position: relative;
}

.server-card .Typewriter__wrapper {
  text-shadow: 0px 0px 15px red;
}

.server-intro {
  text-align: center;
  margin: 0 auto 3em auto;
}

.server-card-img{
  margin-top: auto;
}

@media (max-width: 768px){
  .server-list{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width: 480px){
  .server-list{
    grid-template-columns: 1fr;
  }
}